---
Checks:          'clang-diagnostic-*,clang-analyzer-*,cppcoreguidelines-'
WarningsAsErrors: ''
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
FormatStyle:     LLVM
User:            jiang
CheckOptions:
...

